<section class="flex gap-4 m-4 flex-wrap justify-center">

  <section>
    <div class="phone">
      <iframe 
      class="phone_content" 
        src="https://guias-juegos-next13-ts.vercel.app/">
      </iframe>
    </div>
  </section>
  
  <section>
    <div class="phone">
      <iframe 
      class="phone_content" 
        src="https://guias-juegos-ang17.vercel.app/">
      </iframe>
    </div>
  </section>
  
  <section>
    <div class="phone">
      <iframe 
      class="phone_content" 
        src="https://www.francisco-dev.cl">
      </iframe>
    </div>
  </section>
  
  <section>
    <div class="phone">
      <iframe 
      class="phone_content" 
        src="https://kartax.netlify.app/">
      </iframe>
    </div>
  </section>

</section>


