<section class="card bg-base-200 shadow-lg p-4 m-4 flex">
  <div class="flex flex-wrap justify-center gap-4">
    @for (item of products$ | async; track item.id) {
      <div class="card card-compact w-60 bg-base-100 shadow-xl">
        <figure>
          <img 
            class="product w-60 h-60"
            [src]="item.img_cover" 
            alt="Shoes" 
            height="500"
            width="500"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">(5.000$) {{item.nombre}}</h2>
          <p>{{item.descripcion}}</p>
          <div class="card-actions justify-end">
            <button (click)="addItem(item)" class="btn btn-primary">Agregar</button>
          </div>
        </div>
      </div>
    }
  </div>
</section>

<section class="card bg-base-100 shadow-lg p-4 m-4 flex">
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>
          </th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        @for (item of items$ | async; track item.id) {
  
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src={{item.img_cover}} alt="Avatar Tailwind CSS Component" />
                </div>
              </div>
              <div>
                <div class="font-bold">{{item.nombre}}</div>
                <div class="text-sm opacity-50">sin oferta</div>
              </div>
            </div>
          </td>
          <td>{{item.cantidad}}</td>
          <td>{{item.precio}}</td>
          <th>
            <button (click)="removeItem(item)" class="btn btn-ghost btn-xs text-red-600">ELIMINAR</button>
          </th>
        </tr>
  
        }
      </tbody>
      
    </table>
  </div>
</section>
